<div class="projectContainer">

	<div class="projectWrap">
		<div class="projectMainImage" id="bstImage">
			<div class="imageSlide" ng-repeat="image in bstImages" ng-show="image.visible">
				<img ng-src="{{image.src}}" />
			</div>
		</div>

		<div class="projectInfo">
			<h1>Bexley Senior <br /> Tag</h1>
			<p>
				Bexley Senior Tag is a yearly tradition where seniors in high school form teams and play tag against each other with squirt guns. During my senior year of high school, I created a website that would track the game. The website had a feed that showed “kills” in real time, player information, and the overall scoreboard. The website was built using PHP and MySQL. This project was my first exposure to databases.
			</p>

			<div class="githubLink">
				<a href="https://github.com/alecrobins/Projects/tree/master/BexleySeniorTag" target="_blank">
					View Source Code
				</a>
			</div>

			<div class="clear">
			</div>

			<div class="projectTech">
				<h2>Technologies</h2>

				<div class="projectIcons" id="html5" ng-include="'Content/icons/icons/html5/html5-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="css3" ng-include="'Content/icons/icons/css3/css3-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="wordpress" ng-include="'Content/icons/icons/php/php-plain.svg'"></div>
				<div class="projectIcons" id="wordpress" ng-include="'Content/icons/icons/mysql/mysql-plain-wordmark.svg'"></div>

			</div>

		</div>

		</div>
	</div>

</div>
