<div class="projectContainer">

	<div class="projectWrap">
		<div class="projectMainImage" id="personalSiteImage">
			<div class="imageSlide" ng-repeat="image in personalSiteImages" ng-show="image.visible">
				<img ng-src="{{image.src}}" /> <!-- TODO: ng-click="gotoNextImage(bzarImages, image.index)" -->
			</div>
		</div>

		<div class="projectInfo">
			<h1>Personal <br /> Website</h1>
			<p>
				Movie Journal is a web app that allows users to quickly select movies they have seen or would like to watch. This web app is being built using AngularJs, Parse, and The Movie Database API. This is an on going project.
			</p>

			<div class="clear">
			</div>

			<div class="projectTech">
				<h2>Technologies</h2>

				<div class="projectIcons" id="html5" ng-include="'Content/icons/icons/html5/html5-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="css3" ng-include="'Content/icons/icons/css3/css3-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="wordpress" ng-include="'Content/icons/icons/angularjs/angularjs-plain.svg'"></div>
				<div class="projectIcons" id="wordpress" ng-include="'Content/icons/icons/sass/sass-original.svg'"></div>

			</div>
		</div>
	</div>

</div>
