<div class="projectContainer">

	<div class="projectWrap">
		<div class="projectMainImage">
			<div class="imageSlide" ng-repeat="image in urlshortnerImages" ng-show="image.visible">
				<img ng-src="{{image.src}}" /> <!-- TODO: ng-click="gotoNextImage(bzarImages, image.index)" -->
			</div>
		</div>

		<div class="projectInfo">
			<h1>Url Shortener</h1>
			<p>
				This was a quick project to gain experience using Node.Js with MySQL. The shortener converts the id of the stored long URL into a base62 number.
			</p>

			<div class="githubLink">
				<a href="https://github.com/alecrobins/NodeUrlShortener" target="_blank">
					View Source Code
				</a>
			</div>

			<div class="clear">
			</div>

			<div class="projectTech">
				<h2>Technologies</h2>

				<div class="projectIcons" id="rails" ng-include="'Content/icons/icons/nodejs/nodejs-original-wordmark.svg'"></div>
				<div class="projectIcons" id="rails" ng-include="'Content/icons/icons/mysql/mysql-plain-wordmark.svg'"></div>

			</div>
		</div>
	</div>

</div>
