<div class="projectContainer">

	<div class="projectWrap">
		<div class="projectMainImage">
			<div class="imageSlide" ng-repeat="image in urlshortnerImages" ng-show="image.visible">
				<img ng-src="{{image.src}}" /> <!-- TODO: ng-click="gotoNextImage(bzarImages, image.index)" -->
			</div>
		</div>

		<div class="projectInfo">
			<h1>Url Shortner</h1>
			<p>
				I started this project to gain some experience using Ruby on Rails. On completion, the Url Shortner will be able to shorten url’s, allow for custom url extensions, and provide basic analytics. This is an on going project.
			</p>

			<div class="githubLink">
				<a href="https://github.com/alecrobins/urlShortner" target="_blank">
					View Source Code
				</a>
			</div>

			<div class="clear">
			</div>

			<div class="projectTech">
				<h2>Technologies</h2>

				<div class="projectIcons" id="html5" ng-include="'Content/icons/icons/html5/html5-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="css3" ng-include="'Content/icons/icons/css3/css3-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="rails" ng-include="'Content/icons/icons/rails/rails-plain-wordmark.svg'"></div>

			</div>
		</div>
	</div>

</div>
