<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Alec Robins | Developer. Designer. Entrepurner.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,500,100,300,700,400' rel='stylesheet' type='text/css'>
    <link href="Content/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type='text/css'>
    <link rel="stylesheet" href="Content/icons/devicon.css">
    <link rel="stylesheet" href="Content/icons/devicon-colors.css">
</head>
    <body>

			  <!--navbar - NavController resposible for the following content-->
        <div id="myNav" role="navigation" ng-controller="NavController">
						<div id="navContainer" ng-style="{'max-height': navHeight}">

                <!--Only show when less than 480px -->
                <div class="navMobileMenu" ng-include="'Images/menu-icon.svg'" ng-click="mobileMenuClick()"></div>

                <div class="navLinks">
  								<ul>
                    <li id="noHover">
                      <img src="Images/profile.png" alt="Alec Robins Profile" width="22px"/>
                    </li>
                    <li ng-click="go('/', slide.home)">
                        <a>Home</a>
                    </li>
                    <!-- <li><a ng-click="showAbout(); go('/', slide.about)">About</a></li> -->
                    <li ng-click="go('/protfolio', slide.protfolio)"><a >Portfolio</a></li>
                    <li><a href="Documents/AlecRobinsResume.pdf" target="_blank">Resume</a></li>
                    <li ng-click="go('/contact', slide.contact)"><a >Contact</a></li>
  								</ul>
                </div>

                <div id="navIcons">
                  <ul>
                    <li>
                      <a href="https://github.com/alecrobins" target="_blank">
                        <img src="Images/icon-github.png" alt="Alec Robins Git Hub account" width="22px"/>
                      </a>
                    </li>

                    <li>
                      <a href="https://www.linkedin.com/profile/view?id=189934589&trk=nav_responsive_tab_profile_pic" target="_blank">
                        <img src="Images/icon-linkedin.png" alt="Alec Robins LinkedIn account" width="22px"/>
                      </a>
                    </li>

                  </ul>
                </div>

						</div>

      </div>

<!-- the view will swap out home/portfolio/contact views -->
       <div class="page-view" ng-class="pageAnimationClass" ng-view></div>

        <!-- Scripts -->
				<script src="bower_components/jquery/dist/jquery.js"></script>
				<script src="bower_components/angular/angular.js"></script>
				<script src="bower_components/angular-animate/angular-animate.js"></script>
				<script src="bower_components/angular-route/angular-route.js"></script>
				<script src="Scripts/myScript.js"></script>

        <!-- App -->
        <script src="App/js/app.js"></script>

        <!-- Controllers -->
        <script src="App/js/controllers/HomeController.js"></script>
				<script src="App/js/controllers/NavController.js"></script>
        <script src="App/js/controllers/ProtfolioController.js"></script>
        <script src="App/js/controllers/ContactController.js"></script>

    </body>
</html>
