<div class="projectContainer" id="nsg">

	<div class="projectWrap">
		<div class="projectMainImage" id="nsgImage">
			<div class="imageSlide" ng-repeat="image in nsgImages" ng-show="image.visible">
				<img ng-src="{{image.src}}" />
			</div>
		</div>

		<div class="projectInfo">
			<h1>Nashville <br />Social Group</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultricies eleifend blandit. Nam lacinia orci a ex aliquet, quis facilisis urna.
			</p>

			<div class="githubLink">
				<a href="http://www.trendingsounds.com" target="_blank">
					View Source Code
				</a>
			</div>

			<div class="clear">
			</div>

			<div class="projectTech">
				<h2>Technologies</h2>

				<div class="projectIcons" id="wordpress" ng-include="'Content/icons/icons/wordpress/wordpress-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="html5" ng-include="'Content/icons/icons/html5/html5-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="css3" ng-include="'Content/icons/icons/css3/css3-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="javascript" ng-include="'Content/icons/icons/photoshop/photoshop-plain.svg'"></div>
				<div class="projectIcons" id="jquery" ng-include="'Content/icons/icons/jquery/jquery-plain-wordmark.svg'"></div>

			</div>

		</div>

	</div>
</div>

</div>
