<div class="projectContainer" id="robinson">

	<div class="projectWrap">
		<div class="projectMainImage" id="robinsonImage">
			<div class="imageSlide" ng-repeat="image in robinsonImages" ng-show="image.visible">
				<img ng-src="{{image.src}}" />
			</div>
		</div>

		<div class="projectInfo">
			<h1>Matt Robinson <br/> Tunes</h1>
			<p>
				Created and designed a custom Wordpress theme for musician Matt Robinson. I used an open source media player called jPlayer to implement the music player. The website is built using HTML5, CSS3, and Javascript.
			</p>

			<div class="projectLink">
				<a href="http://www.MattRobinsonOfficial.com" target="_blank">
					Visit MattRobinsonOfficial.com
				</a>
			</div>

			<div class="githubLink">
				<a href="http://www.trendingsounds.com" target="_blank">
					View Source Code
				</a>
			</div>

			<div class="clear">
			</div>

			<div class="projectTech">
				<h2>Technologies</h2>

				<div class="projectIcons" id="wordpress" ng-include="'Content/icons/icons/wordpress/wordpress-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="html5" ng-include="'Content/icons/icons/html5/html5-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="css3" ng-include="'Content/icons/icons/css3/css3-plain-wordmark.svg'"></div>
				<div class="projectIcons" id="javascript" ng-include="'Content/icons/icons/javascript/javascript-plain.svg'"></div>
				<div class="projectIcons" id="jquery" ng-include="'Content/icons/icons/jquery/jquery-plain-wordmark.svg'"></div>

			</div>

		</div>

	</div>
</div>

</div>
