.projectContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 40px;
  padding-bottom: 20px; }

.projectMainImage {
  max-height: 50vh;
  width: 100%;
  min-height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  @media (max-width: 992px) {
    .projectMainImage {
      max-height: none; } }

.imageSlide {
  opacity: 1;
  display: block;
  left: 0; }
  .imageSlide img {
    width: 100%; }

.imageSlide.ng-hide-add.ng-hide-add-active,
.imageSlide.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease; }

.imageSlide.ng-hide {
  opacity: 0.5; }

.projectInfo {
  padding-top: 10px;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  left: 10%; }
  .projectInfo h1 {
    padding: none !important; }

.projectLink a, .githubLink a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 7px 20px 7px 40px;
  border-radius: 25px;
  white-space: nowrap;
  margin: 10px 0px;
  box-shadow: 0;
  float: left;
  background-repeat: no-repeat;
  background-position: 10px center;
  transition: all 0.2s ease; }

.projectLink a {
  background-image: url("http://www.alecrobins.me/Images/bg-link.png");
  background-size: 15px;
  margin-right: 10px; }

.githubLink a {
  background-image: url("http://www.alecrobins.me/Images/bg-github.png");
  background-size: 20px;
  background-color: #0a0a0a; }

.projectLink a:hover, .githubLink a:hover {
  color: white;
  text-decoration: none;
  box-shadow: 0 0 5px #515151;
  transform: scale(1.01);
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01); }

.projectTech h2 {
  color: #2d2d2d;
  font-size: 20px;
  margin-bottom: 10px; }

#trendingSounds .projectLink a {
  background-color: #0192ff; }

#robinson .projectLink a {
  background-color: #8d2729; }

#pollack .projectLink a {
  background-color: #3c3c3c; }

#lyfebank .projectLink a {
  background-color: #34dab5; }

#bzar .projectLink a {
  background-color: #fea026; }

#starcity .projectLink a {
  background-color: #2a74c7; }
