//import the project views
@import projectView
@import icons

//media breaks
$break-tablet-min: 768px
$break-tablet-max: 1024

$break-mobile-min: 320px
$break-mobile-max: 568px

//base url
$base: "http://www.alecrobins.me/"


//drop show on transition
.page2
	box-shadow: 0 0 10px rgb(0,0,0)

//makes the background photo the full page
#protfolioContainer
	background: rgb(251,251,251)
	width: 100%
	height: 100vh
	background-size: cover
	position: absolute

#clInfo
	padding-left: 15px

#cLFreelanceIntro
	padding: 0 15px
	line-height: 24px

#containerLeft
	display: block
	height: 100vh
	background-color: rgb(251,251,251)
	padding-top: 40px
	padding-left: 0 !important
	padding-right: 0 !important
	#cLNav ul li
		display: inline-block
		float: left
		margin-left: 10px
		margin-top: 5px
	#cLNav #slash h4
		font-size: 40px
		display: inline-block
		padding: 3px 0px
		font-weight: 300
		opacity: 0.5

//class for selected/unselected nav buttons
.clNavSelected
	h3 a
		color: rgb(25,25,25)
		font-weight: 700
		font-size: 36px
		text-align: bottom
	h3 a:hover
		text-decoration: none

.clNavNotSelected
	h3 a
		color: rgb(207,207,207)
		font-weight: 300
		font-size: 36px
		text-align: bottom
	h3 a:hover
		text-decoration: none
		color: rgb(150,150,150)
		font-size: 36px
		font-weight: 500
		-webkit-transition: all 0.1s ease
		-moz-transition: all 0.1s ease
		-o-transition: all 0.1s ease
		-ms-transition: all 0.1s ease

#containerRight
	//border-left: solid 1px rgb(25,25,25)
	position: relative
	display: block
	height: 100vh
	overflow-y: scroll
	overflow-x: hidden
	background-color: rgb(232,232,232)
	/*hide if in mobile mode*/
	@media (max-width: 992px)
		display: none

#projectsContainerOut
	height: 70vh
	top: 30vh
	position: absolute
	width: 100%
	overflow: hidden
	background-color: rgb(200,200,200)

	/*hide if in mobile mode*/
	@media (max-width: 992px)
		position: relative
		overflow: auto
		height: auto
		top: 0

#projectsContainerIn
	height: 100%
	overflow-y: auto
	overflow-x: hidden
	@media (max-width: 992px)
		position: relative
		overflow: auto


// Project Specific CSS
	// "Project" represents both freelance and projects

.tabWrapper, .tabWrapper.ng-hide-add,
.tabWrapper.ng-hide-remove.ng-hide-remove-active
	width: 100%
	margin-left: 0

.tabWrapper.ng-hide-add.ng-hide-add-active
	transition: margin-left 1.2s 0s ease
	-webkit-transition: margin-left 1.2s 0s ease
	-moz-transition: margin-left 1.2s 0s ease
	-o-transition: margin-left 1.2s 0s ease
	-ms-transition: margin-left 1.2s 0s ease

.tabWrapper.ng-hide-remove.ng-hide-remove-active
	transition: margin-left 1.2s 1s ease
	-webkit-transition: margin-left 1.2s 1s ease
	-moz-transition: margin-left 1.2s 1s ease
	-o-transition: margin-left 1.2s 1s ease
	-ms-transition: margin-left 1.2s 1s ease

.tabWrapper.ng-hide, .tabWrapper.ng-hide-add.ng-hide-add-active,
.tabWrapper.ng-hide-remove
	margin-left: -1000px

.projectTabs
	position: relative
	display: block
	min-height: 130px
	width: 100%
	margin: 0 !important
	padding: 10px 20px
	border-left: solid 0px rgb(25,25,25)
	background-size: cover !important
	background-position: center
	background-repeat: no-repeat
	-webkit-transition: border-left 0.2s ease, width 1.2s ease
	-moz-transition: border-left 0.2s ease, width 1.2s ease
	-o-transition: border-left 0.2s ease, width 1.2s ease
	-ms-transition: border-left 0.2s ease, width 1.2s ease
	#arrow
		position: absolute
		right: 20px
		top: 45%
		-webkit-transition: right 0.2s ease
		-moz-transition: right 0.2s ease
		-o-transition: right 0.2s ease
		-ms-transition: right 0.2s ease
	@media (max-width: 992px)
		#arrow
			-ms-transform: rotate(90deg)
			-webkit-transform: rotate(90deg)
			transform: rotate(90deg)
			top: 50px

	//project tabs animations
.projectTabs:hover
	border-left: solid 10px rgb(25,25,25)
	#arrow
		right: 10px
	@media (max-width: 992px)
		border-left: none
		#arrow
			right: 20px

	//Titles for the projects
		// flush left, white font
.projectTabs #projectName
	width: 50%
	color: white
	h1
		font-size: 28px
		@media (max-width: 992px)
			font-size: 24px
	h2
		display: block
		font-size: 20px
		font-weight: 300
		position: absolute
		bottom: 10px
		@media (max-width: 992px)
			font-size: 16px

////FREELANCE WORK
	//Trending Sounds
.trendingSounds
	@extend .projectTabs
	background-image: url($base + 'Images/Freelance-Bg/bg-trending.jpg')

	//Matt Robinson Tunes
.mattRobinson
	@extend .projectTabs
	background-image: url($base + 'Images/Freelance-Bg/bg-robinson.jpg')

	//Nashville Social Group
.nsg
	@extend .projectTabs
	background-image: url($base + 'Images/Freelance-Bg/bg-nsg.jpg')

	//bzar
.bzar
	@extend .projectTabs
	background-image: url($base + 'Images/Freelance-Bg/bg-bzar.jpg')

	//Michael Pollack
.michaelPollack
	@extend .projectTabs
	background-image: url($base + 'Images/Freelance-Bg/bg-pollack.jpg')

	//Star City In & Suites
.starCity
	@extend .projectTabs
	background-image: url($base + 'Images/Freelance-Bg/bg-starcity.jpg')

	//LyfeBank Ohio
.lyfebank
	@extend .projectTabs
	background-image: url($base + 'Images/Freelance-Bg/bg-lyfebank.jpg')

////Projects

	//Url Shortner
.urlShortner
	@extend .projectTabs
	background-image: url($base + 'Images/Project-Bg/urlShortner.jpg')

	//Bexley Senior Tag
.bst
	@extend .projectTabs
	background-image: url($base + 'Images/Project-Bg/bst.jpg')

	//Movie Journal
.movieJournal
	@extend .projectTabs
	background-image: url($base + 'Images/Project-Bg/movieJournal.jpg')


//// animations for projects
// TODO: un comment when in production
.rightAnimate
	left: 0
	position: absolute
	width: 100%
	overflow-x: hidden

.rightAnimate.ng-enter
	-webkit-transition: all 1s 0.5s ease
	-moz-transition: all 1s 0.5s ease
	-ms-transition: all 1s 0.5s ease
	-o-transition: all 1s 0.5s ease
	transition: all 1s 0.5s ease
	left: 0
	position: absolute
	width: 100%
	overflow-x: hidden

.rightAnimate.ng-leave
	-webkit-transition: all 0.7s 0s ease
	-moz-transition: all 0.7s 0s ease-out
	-ms-transition: all 0.7s 0s ease-out
	-o-transition: all 0.7s 0s ease-out
	transition: all 0.7s 0s ease-out

.rightAnimate.ng-enter
	left: 100vw

.rightAnimate.ng-enter.ng-enter-active
	left: 0

.rightAnimate.ng-leave
	left: 0

.rightAnimate.ng-leave.ng-leave-active
	left: 100vw


/// Mobile

.mobileShow
	opacity: 1
	background-color: rgb(232,232,232)
	width: 100vw !important
	margin-left: -20px
	margin-top: 40px
	display: block
	height: auto
	.projectContainer
		padding-top: 0 !important

.mobileShow.ng-hide-add.ng-hide-add-active,
.mobileShow.ng-hide-remove.ng-hide-remove-active
	-webkit-transition: all 1s ease
	-moz-transition: all 1s ease
	-o-transition: all 1s ease
	-ms-transition: all 1s ease

.mobileShow.ng-hide
	opacity: 0
	height: 0px

// animation for arrow when clicked
.arrowClicked
	-ms-transform: rotate(-90deg) !important
	-webkit-transform: rotate(-90deg) !important
	transform: rotate(-90deg) !important
