html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3 {
  display: block;
  padding: 1vh 0; }

#homeMain {
  position: absolute;
  width: 66%;
  left: 17.5%;
  top: 20%; }
  #homeMain h1 {
    font-weight: 500;
    color: white;
    font-size: 4em; }
  #homeMain h2 {
    font-weight: 400;
    color: white;
    font-size: 2em; }
  #homeMain h3 {
    font-weight: 300;
    color: white;
    font-size: 1.5em; }

.homeProfile {
  position: relative;
  height: 147px; }

.homeProfile img {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  z-index: 99999;
  -webkit-transition: left 1s ease;
  -moz-transition: left 1s ease;
  -o-transition: left 1s ease;
  -ms-transition: left 1s ease; }

.homeProfile #homeInfo {
  background: rgba(216, 216, 216, 0.85);
  width: 0px;
  height: 147px;
  position: absolute;
  left: 50%;
  border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  border: 0px solid black;
  overflow: hidden;
  padding: 15px 15px 15px 100px;
  opacity: 0;
  font-size: 14px;
  z-index: 999;
  box-shadow: 0 0 15px #3c3c3c;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease; }
  @media (max-width: 992px) {
    .homeProfile #homeInfo {
      display: none; } }

.about, .homeProfile:hover #homeInfo, #aboutClass #homeInfo {
  left: 20% !important;
  width: 70% !important;
  opacity: 1 !important; }

.homeProfile:hover img, #aboutClass img {
  left: 20% !important; }
  @media (max-width: 992px) {
    .homeProfile:hover img, #aboutClass img {
      left: 50% !important; } }

.projectContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 40px;
  padding-bottom: 20px; }

.projectMainImage {
  max-height: 50vh;
  width: 100%;
  min-height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }

.imageSlide {
  opacity: 1;
  display: block;
  left: 0; }
  .imageSlide img {
    width: 100%; }

.imageSlide.ng-hide-add.ng-hide-add-active,
.imageSlide.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease; }

.imageSlide.ng-hide {
  opacity: 0.5; }

.projectInfo {
  padding-top: 10px;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  left: 10%; }
  .projectInfo h1 {
    padding: none !important; }

.projectLink a, .githubLink a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 7px 20px 7px 40px;
  border-radius: 25px;
  white-space: nowrap;
  margin: 10px 0px;
  box-shadow: 0;
  float: left;
  background-repeat: no-repeat;
  background-position: 10px center;
  transition: all 0.2s ease; }

.projectLink a {
  background-image: url("http://www.alecrobins.me/Images/bg-link.png");
  background-size: 15px;
  margin-right: 10px; }

.githubLink a {
  background-image: url("http://www.alecrobins.me/Images/bg-github.png");
  background-size: 20px;
  background-color: #0a0a0a; }

.projectLink a:hover, .githubLink a:hover {
  color: white;
  text-decoration: none;
  box-shadow: 0 0 5px #515151;
  transform: scale(1.01);
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01); }

.projectTech h2 {
  color: #2d2d2d;
  font-size: 20px;
  margin-bottom: 10px; }

#trendingSounds .projectLink a {
  background-color: #0192ff; }

#robinson .projectLink a {
  background-color: #8d2729; }

#pollack .projectLink a {
  background-color: #3c3c3c; }

#lyfebank .projectLink a {
  background-color: #34dab5; }

#bzar .projectLink a {
  background-color: #fea026; }

#starcity .projectLink a {
  background-color: #2a74c7; }

.projectIcons {
  max-width: 4em;
  display: block;
  width: 4em;
  float: left;
  margin-right: 10px; }

.devicon-amazonwebservices-plain-wordmark.colored,
.devicon-amazonwebservices-original.colored,
.devicon-amazonwebservices-plain.colored {
  color: #f7a80d; }

.devicon-android-plain-wordmark.colored,
.devicon-android-plain.colored {
  color: #a4c439; }

.devicon-angularjs-plain-wordmark.colored,
.devicon-angularjs-plain.colored {
  color: #c4473a; }

.devicon-appcelerator-plain-wordmark.colored,
.devicon-appcelerator-original.colored,
.devicon-appcelerator-plain.colored {
  color: #ac162c; }

.devicon-apple-original.colored,
.devicon-apple-plain.colored {
  color: black; }

.devicon-atom-original.colored,
.devicon-atom-original-wordmark.colored,
.devicon-atom-plain.colored,
.devicon-atom-plain-wordmark.colored {
  color: #67595d; }

.devicon-backbonejs-plain.colored,
.devicon-backbonejs-plain-wordmark.colored {
  color: #002a41; }

.devicon-bootstrap-plain-wordmark.colored,
.devicon-bootstrap-plain.colored {
  color: #59407f; }

.devicon-bower-line-wordmark.colored,
.devicon-bower-line.colored,
.devicon-bower-plain-wordmark.colored,
.devicon-bower-plain.colored {
  color: #ef5734; }

.devicon-chrome-plain-wordmark.colored,
.devicon-chrome-plain.colored {
  color: #ce4e4e; }

.devicon-codeigniter-plain-wordmark.colored,
.devicon-codeigniter-plain.colored {
  color: #ee4323; }

.devicon-css3-plain-wordmark.colored,
.devicon-css3-plain.colored {
  color: #3d8fc6; }

.devicon-debian-plain-wordmark.colored,
.devicon-debian-plain.colored {
  color: #a80030; }

.devicon-dot-net-plain-wordmark.colored,
.devicon-dot-net-plain.colored {
  color: #1384c8; }

.devicon-drupal-plain-wordmark.colored,
.devicon-drupal-plain.colored {
  color: #0073ba; }

.devicon-firefox-plain-wordmark.colored,
.devicon-firefox-plain.colored {
  color: #dd732a; }

.devicon-foundation-plain-wordmark.colored,
.devicon-foundation-plain.colored {
  color: #008cba; }

.devicon-git-plain-wordmark.colored,
.devicon-git-plain.colored,
.devicon-git-plain path {
  fill: red; }

.devicon-grunt-line-wordmark.colored,
.devicon-grunt-line.colored,
.devicon-grunt-plain-wordmark.colored,
.devicon-grunt-plain.colored {
  color: #fcaa1a; }

.devicon-gulp-plain.colored {
  color: #eb4a4b; }

.devicon-html5-plain-wordmark.colored,
.devicon-html5-plain.colored {
  color: #e54d26; }

.devicon-ie10-original.colored,
.devicon-ie10-plain.colored {
  color: #1ebbee; }

.devicon-illustrator-line.colored,
.devicon-illustrator-plain.colored {
  color: #faa625; }

.devicon-java-plain-wordmark.colored,
.devicon-java-plain.colored {
  color: #ea2d2e; }

.devicon-javascript-plain.colored {
  color: #f0db4f; }

.devicon-jquery-plain-wordmark.colored,
.devicon-jquery-plain.colored {
  color: #0769ad; }

.devicon-krakenjs-plain.colored,
.devicon-krakenjs-plain-wordmark.colored {
  color: #0081c2; }

.devicon-laravel-plain-wordmark.colored,
.devicon-laravel-plain.colored {
  color: #fd4f31; }

.devicon-less-plain-wordmark.colored {
  color: #2a4d80; }

.devicon-linux-plain.colored {
  color: black; }

.devicon-mongodb-plain.colored,
.devicon-mongodb-plain-wordmark.colored {
  color: #4faa41; }

.devicon-moodle-plain.colored,
.devicon-moodle-plain-wordmark.colored {
  color: #f7931e; }

.devicon-mysql-plain.colored,
.devicon-mysql-plain-wordmark.colored {
  color: #00618a; }

.devicon-nodejs-plain.colored,
.devicon-nodejs-plain-wordmark.colored {
  color: #83cd29; }

.devicon-oracle-original.colored,
.devicon-oracle-plain.colored,
.devicon-oracle-plain-wordmark.colored {
  color: #ea1b22; }

.devicon-photoshop-line.colored,
.devicon-photoshop-plain.colored {
  color: #80b5e2; }

.devicon-php-plain.colored {
  color: #6181b6; }

.devicon-postgresql-plain.colored,
.devicon-postgresql-plain-wordmark.colored {
  color: #336791; }

.devicon-python-plain-wordmark.colored,
.devicon-python-plain.colored {
  color: #ffd845; }

.devicon-rails-plain-wordmark.colored,
.devicon-rails-plain.colored {
  color: #a62c46; }

.devicon-ruby-plain-wordmark.colored,
.devicon-ruby-plain.colored {
  color: #d91404; }

.devicon-ubuntu-plain-wordmark.colored,
.devicon-ubuntu-plain.colored {
  color: #dd4814; }

.devicon-sass-original.colored,
.devicon-sass-plain.colored,
.devicon-sass-plain-wordmark.colored {
  color: #cc6699; }

.devicon-travis-plain-wordmark.colored,
.devicon-travis-plain.colored {
  color: #bb2031; }

.devicon-trello-plain-wordmark.colored,
.devicon-trello-plain.colored {
  color: #23719f; }

.devicon-ubuntu-plain-wordmark.colored,
.devicon-ubuntu-plain.colored {
  color: #dd4814; }

.devicon-windows8-original-wordmark.colored,
.devicon-windows8-original.colored,
.devicon-windows8-plain-wordmark.colored,
.devicon-windows8-plain.colored {
  color: #00adef; }

.devicon-wordpress-plain-wordmark.colored,
.devicon-wordpress-plain.colored {
  color: #494949; }

.devicon-yii-plain-wordmark.colored,
.devicon-yii-plain.colored {
  color: #0073bb; }

.devicon-zend-plain-wordmark.colored,
.devicon-zend-plain.colored {
  color: #68b604; }

.page2 {
  box-shadow: 0 0 10px black; }

#protfolioContainer {
  background: #fbfbfb;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute; }

#clInfo {
  padding-left: 15px;
  display: table-row;
  height: 0px; }

#cLFreelanceIntro {
  padding: 0 15px;
  line-height: 24px;
  margin-bottom: 15px; }

#containerLeft {
  display: table;
  height: 100vh;
  background-color: #fbfbfb;
  padding-top: 40px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: hidden; }
  #containerLeft #cLNav ul li {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 5px; }
  #containerLeft #cLNav #slash h4 {
    font-size: 40px;
    display: inline-block;
    padding: 3px 0px;
    font-weight: 300;
    opacity: 0.5; }

.clNavSelected h3 a {
  color: #191919;
  font-weight: 700;
  font-size: 36px;
  text-align: bottom; }
.clNavSelected h3 a:hover {
  text-decoration: none; }

.clNavNotSelected h3 a {
  color: #cfcfcf;
  font-weight: 300;
  font-size: 36px;
  text-align: bottom; }
.clNavNotSelected h3 a:hover {
  text-decoration: none;
  color: #969696;
  font-size: 36px;
  font-weight: 500;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease; }

#containerRight {
  position: relative;
  display: block;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #e8e8e8;
  /*hide if in mobile mode */ }
  @media (max-width: 992px) {
    #containerRight {
      display: none; } }

#projectsContainerOut {
  height: auto;
  display: table-row;
  width: 100%;
  overflow: scroll;
  background-color: #c8c8c8;
  /*hide if in mobile mode */ }
  @media (max-width: 992px) {
    #projectsContainerOut {
      display: block;
      position: relative;
      overflow: auto;
      height: auto;
      top: 0; } }

#projectsContainerIn {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }
  @media (max-width: 992px) {
    #projectsContainerIn {
      position: relative;
      overflow: auto; } }

.tabWrapper, .tabWrapper.ng-hide-add,
.tabWrapper.ng-hide-remove.ng-hide-remove-active {
  width: 100%;
  margin-left: 0;
  float: left; }

.tabWrapper.ng-hide-add.ng-hide-add-active {
  transition: all 1.2s 0s ease;
  -webkit-transition: all 1.2s 0s ease;
  -moz-transition: all 1.2s 0s ease;
  -o-transition: all 1.2s 0s ease;
  -ms-transition: all 1.2s 0s ease; }

.tabWrapper.ng-hide-remove.ng-hide-remove-active {
  transition: all 1.2s 1.2s ease;
  -webkit-transition: all 1.2s 1.2s ease;
  -moz-transition: all 1.2s 1.2s ease;
  -o-transition: all 1.2s 1.2s ease;
  -ms-transition: all 1.2s 1.2s ease; }

.tabWrapper.ng-hide, .tabWrapper.ng-hide-add.ng-hide-add-active,
.tabWrapper.ng-hide-remove {
  margin-left: -100vw; }

.projectTabs, .trendingSounds, .mattRobinson, .nsg, .bzar, .michaelPollack, .starCity, .lyfebank, .urlShortner, .bst, .movieJournal, .personalSite, .safeAuto {
  position: relative;
  display: block;
  min-height: 130px;
  width: 100%;
  margin: 0 !important;
  padding: 10px 20px;
  border-left: solid 0px #191919;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: border-left 0.2s ease, width 1.2s ease;
  -moz-transition: border-left 0.2s ease, width 1.2s ease;
  -o-transition: border-left 0.2s ease, width 1.2s ease;
  -ms-transition: border-left 0.2s ease, width 1.2s ease; }
  .projectTabs #arrow, .trendingSounds #arrow, .mattRobinson #arrow, .nsg #arrow, .bzar #arrow, .michaelPollack #arrow, .starCity #arrow, .lyfebank #arrow, .urlShortner #arrow, .bst #arrow, .movieJournal #arrow, .personalSite #arrow, .safeAuto #arrow {
    position: absolute;
    right: 20px;
    top: 45%;
    -webkit-transition: right 0.2s ease;
    -moz-transition: right 0.2s ease;
    -o-transition: right 0.2s ease;
    -ms-transition: right 0.2s ease; }
  @media (max-width: 992px) {
    .projectTabs #arrow, .trendingSounds #arrow, .mattRobinson #arrow, .nsg #arrow, .bzar #arrow, .michaelPollack #arrow, .starCity #arrow, .lyfebank #arrow, .urlShortner #arrow, .bst #arrow, .movieJournal #arrow, .personalSite #arrow, .safeAuto #arrow {
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 50px; } }

.projectTabs:hover, .trendingSounds:hover, .mattRobinson:hover, .nsg:hover, .bzar:hover, .michaelPollack:hover, .starCity:hover, .lyfebank:hover, .urlShortner:hover, .bst:hover, .movieJournal:hover, .personalSite:hover, .safeAuto:hover {
  border-left: solid 10px #191919; }
  .projectTabs:hover #arrow, .trendingSounds:hover #arrow, .mattRobinson:hover #arrow, .nsg:hover #arrow, .bzar:hover #arrow, .michaelPollack:hover #arrow, .starCity:hover #arrow, .lyfebank:hover #arrow, .urlShortner:hover #arrow, .bst:hover #arrow, .movieJournal:hover #arrow, .personalSite:hover #arrow, .safeAuto:hover #arrow {
    right: 10px; }
  @media (max-width: 992px) {
    .projectTabs:hover, .trendingSounds:hover, .mattRobinson:hover, .nsg:hover, .bzar:hover, .michaelPollack:hover, .starCity:hover, .lyfebank:hover, .urlShortner:hover, .bst:hover, .movieJournal:hover, .personalSite:hover, .safeAuto:hover {
      border-left: none; }
      .projectTabs:hover #arrow, .trendingSounds:hover #arrow, .mattRobinson:hover #arrow, .nsg:hover #arrow, .bzar:hover #arrow, .michaelPollack:hover #arrow, .starCity:hover #arrow, .lyfebank:hover #arrow, .urlShortner:hover #arrow, .bst:hover #arrow, .movieJournal:hover #arrow, .personalSite:hover #arrow, .safeAuto:hover #arrow {
        right: 20px; } }

.projectTabs #projectName, .trendingSounds #projectName, .mattRobinson #projectName, .nsg #projectName, .bzar #projectName, .michaelPollack #projectName, .starCity #projectName, .lyfebank #projectName, .urlShortner #projectName, .bst #projectName, .movieJournal #projectName, .personalSite #projectName, .safeAuto #projectName {
  width: 50%;
  color: white; }
  .projectTabs #projectName h1, .trendingSounds #projectName h1, .mattRobinson #projectName h1, .nsg #projectName h1, .bzar #projectName h1, .michaelPollack #projectName h1, .starCity #projectName h1, .lyfebank #projectName h1, .urlShortner #projectName h1, .bst #projectName h1, .movieJournal #projectName h1, .personalSite #projectName h1, .safeAuto #projectName h1 {
    font-size: 28px; }
    @media (max-width: 992px) {
      .projectTabs #projectName h1, .trendingSounds #projectName h1, .mattRobinson #projectName h1, .nsg #projectName h1, .bzar #projectName h1, .michaelPollack #projectName h1, .starCity #projectName h1, .lyfebank #projectName h1, .urlShortner #projectName h1, .bst #projectName h1, .movieJournal #projectName h1, .personalSite #projectName h1, .safeAuto #projectName h1 {
        font-size: 24px; } }
  .projectTabs #projectName h2, .trendingSounds #projectName h2, .mattRobinson #projectName h2, .nsg #projectName h2, .bzar #projectName h2, .michaelPollack #projectName h2, .starCity #projectName h2, .lyfebank #projectName h2, .urlShortner #projectName h2, .bst #projectName h2, .movieJournal #projectName h2, .personalSite #projectName h2, .safeAuto #projectName h2 {
    display: block;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    bottom: 10px; }
    @media (max-width: 992px) {
      .projectTabs #projectName h2, .trendingSounds #projectName h2, .mattRobinson #projectName h2, .nsg #projectName h2, .bzar #projectName h2, .michaelPollack #projectName h2, .starCity #projectName h2, .lyfebank #projectName h2, .urlShortner #projectName h2, .bst #projectName h2, .movieJournal #projectName h2, .personalSite #projectName h2, .safeAuto #projectName h2 {
        font-size: 16px; } }

.trendingSounds {
  background-image: url("http://www.alecrobins.me/Images/Freelance-Bg/bg-trending.jpg"); }

.mattRobinson {
  background-image: url("http://www.alecrobins.me/Images/Freelance-Bg/bg-robinson.jpg"); }

.nsg {
  background-image: url("http://www.alecrobins.me/Images/Freelance-Bg/bg-nsg.jpg"); }

.bzar {
  background-image: url("http://www.alecrobins.me/Images/Freelance-Bg/bg-bzar.jpg"); }

.michaelPollack {
  background-image: url("http://www.alecrobins.me/Images/Freelance-Bg/bg-pollack.jpg"); }

.starCity {
  background-image: url("http://www.alecrobins.me/Images/Freelance-Bg/bg-starcity.jpg"); }

.lyfebank {
  background-image: url("http://www.alecrobins.me/Images/Freelance-Bg/bg-lyfebank.jpg"); }

.urlShortner {
  background-image: url("http://www.alecrobins.me/Images/Project-Bg/urlShortner.jpg"); }

.bst {
  background-image: url("http://www.alecrobins.me/Images/Project-Bg/bst.jpg"); }

.movieJournal {
  background-image: url("http://www.alecrobins.me/Images/Project-Bg/movieJournal.jpg"); }

.personalSite {
  background-image: url("http://www.alecrobins.me/Images/Project-Bg/personalSite.jpg"); }

.safeAuto {
  background-image: url("http://www.alecrobins.me/Images/Project-Bg/safeAuto.jpg"); }

.rightAnimate {
  left: 0;
  position: absolute;
  width: 100%;
  overflow-x: hidden; }

.rightAnimate.ng-enter {
  -webkit-transition: all 1s 0.5s ease;
  -moz-transition: all 1s 0.5s ease;
  -ms-transition: all 1s 0.5s ease;
  -o-transition: all 1s 0.5s ease;
  transition: all 1s 0.5s ease;
  left: 0;
  position: absolute;
  width: 100%;
  overflow-x: hidden; }

.rightAnimate.ng-leave {
  -webkit-transition: all 0.7s 0s ease;
  -moz-transition: all 0.7s 0s ease-out;
  -ms-transition: all 0.7s 0s ease-out;
  -o-transition: all 0.7s 0s ease-out;
  transition: all 0.7s 0s ease-out; }

.rightAnimate.ng-enter {
  left: 100vw; }

.rightAnimate.ng-enter.ng-enter-active {
  left: 0; }

.rightAnimate.ng-leave {
  left: 0; }

.rightAnimate.ng-leave.ng-leave-active {
  left: 100vw; }

.mobileShow {
  opacity: 1;
  background-color: #e8e8e8;
  width: 100vw !important;
  margin-left: -20px;
  margin-top: 40px;
  display: block;
  height: auto; }
  .mobileShow .projectContainer {
    padding-top: 0 !important; }

.mobileShow.ng-hide-add.ng-hide-add-active,
.mobileShow.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease; }

.mobileShow.ng-hide {
  opacity: 0;
  height: 0px; }

.arrowClicked {
  -ms-transform: rotate(-90deg) !important;
  -webkit-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important; }

.contactContainer {
  background: rgba(15, 15, 15, 0.7);
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative; }

#contactLeft {
  display: block;
  height: 100vh;
  padding-top: 80px;
  color: white;
  margin: 0 auto;
  width: 300px;
  position: relative; }
  #contactLeft h1 {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 42px;
    display: inline-block; }
  #contactLeft h2 a {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    display: block; }
  #contactLeft #navIcons ul {
    margin: 0 auto;
    display: inline-block; }
  #contactLeft #navIcons ul li {
    margin-bottom: 100px;
    float: left;
    margin-right: 30px; }
    #contactLeft #navIcons ul li img {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease; }
    #contactLeft #navIcons ul li h3 {
      font-size: 20px;
      float: left; }
    #contactLeft #navIcons ul li img {
      width: 35px;
      display: block; }
  #contactLeft #navIcons ul li:hover img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1); }

#contactRight {
  display: block;
  height: 100vh;
  padding-top: 100px;
  padding-right: 40px; }
  #contactRight #form {
    float: right; }
  #contactRight h1 {
    font-weight: 300;
    font-style: italic;
    color: white;
    font-size: 24px;
    margin-bottom: 20px; }
  #contactRight #subject {
    min-width: 400px;
    max-width: 600px; }
  #contactRight input {
    margin-bottom: 20px; }

/* slide in from the bottom
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}

rotate out newspaper
@keyframes rotateOutNewspaper {
	to 		{ transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

entering animations ---------------------------------------
scale up
@keyframes scaleUp {
	from 	{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

slide in from the right
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}

slide in from the bottom
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
 */
.mainView.ng-enter {
  animation: scaleUp 0.5s both ease-in;
  z-index: 8888; }

.mainView.ng-leave {
  animation: slideOutLeft 0.5s both ease-in;
  z-index: 9999; }

* {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400; }

body {
  background-color: #191919;
  color: white; }

body {
  background: url("http://www.alecrobins.me//Images/bg.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.clear {
  clear: both; }

#navContainer {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #0f0f0f;
  box-shadow: 0 0 5px #191919;
  z-index: 1;
  overflow: hidden; }
  #navContainer li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 300; }
  #navContainer li:hover {
    background-color: #3c3c3c; }
  #navContainer ul li {
    float: left;
    display: block;
    margin-left: 20px;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease; }
  #navContainer #navIcons {
    position: absolute;
    right: 0;
    top: 0; }
    @media (max-width: 992px) {
      #navContainer #navIcons {
        display: none; } }
    #navContainer #navIcons ul {
      margin-right: 10px; }
    #navContainer #navIcons li {
      background-color: inherit;
      margin-left: 10px; }
    #navContainer #navIcons li:hover {
      background-color: #3c3c3c; }

#navHome {
  -webkit-transition: all 0.5s 0.8s ease;
  -moz-transition: all 0.5s 0.8s ease;
  -o-transition: all 0.5s 0.8s ease;
  -ms-transition: all 0.5s 0.8s ease;
  opacity: 0;
  width: 0px; }

#navHome, #navHome.ng-hide-add,
#navHome.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  width: inherit; }

#navHome.ng-hide-add.ng-hide-add-active,
#navHome.ng-hide-remove.ng-hide-remove-active {
  transition: all 0.5s 0.8s ease;
  -webkit-transition: all 0.5s 0.8s ease;
  -moz-transition: all 0.5s 0.8s ease;
  -o-transition: all 0.5s 0.8s ease;
  -ms-transition: all 0.5s 0.8s ease; }

#navHome.ng-hide, #navHome.ng-hide-add.ng-hide-add-active,
#navHome.ng-hide-remove {
  opacity: 0;
  width: 0px; }

/* Transitions */
/* Default Enter/Leave */
.page-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*backface-visibility */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /*perspective */
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000; }

.ng-enter,
.ng-leave {
  /*transition-timing-function */
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  /*transition-duration */
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  /*transition-property */
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.ng-enter {
  opacity: 0; }

.ng-enter.ng-enter-active {
  opacity: 1; }

.ng-leave {
  opacity: 1; }

.ng-leave.ng-leave-active {
  opacity: 0; }

/* crossFade */
.crossFade.ng-enter {
  /*transition-duration */
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  opacity: 0; }

.crossFade.ng-enter.ng-enter-active {
  opacity: 1; }

.crossFade.ng-leave {
  /*transition-duration */
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  opacity: 1; }

.crossFade.ng-leave.ng-leave-active {
  opacity: 0; }

/* slideRight */
.slideRight {
  opacity: 1 !important; }

.slideRight.ng-enter {
  /*transition-property */
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  /*transform */
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.slideRight.ng-enter.ng-enter-active {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slideRight.ng-leave {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slideRight.ng-leave.ng-leave-active {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

/* slideLeft */
.slideLeft {
  opacity: 1 !important; }

.slideLeft.ng-enter {
  /*transition-property */
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  /*transform */
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.slideLeft.ng-enter.ng-enter-active {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slideLeft.ng-leave {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slideLeft.ng-leave.ng-leave-active {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

/* slideDown */
.slideDown.ng-enter {
  /*transition-property */
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  /*transform */
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.slideDown.ng-enter.ng-enter-active {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slideDown.ng-leave {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slideDown.ng-leave.ng-leave-active {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

/* slideUp */
.slideUp {
  opacity: 1 !important; }

.slideUp.ng-enter {
  /*transition-property */
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  /*transform */
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.slideUp.ng-enter.ng-enter-active {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slideUp.ng-leave {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slideUp.ng-leave.ng-leave-active {
  /*transition-property */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  /*transform */
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }
