<div class="contactContainer">

	<div id="contactLeft">
		<center>
			<h1>Alec Robins</h1>
			<h2><a href="mailto:alec.j.robins@vanderbilt.edu">alec.j.robins@vanderbilt.edu</a></h2>

		<div id="navIcons">
			<ul>
				<li>
					<a href="https://github.com/alecrobins" target="_blank">
						<img src="Images/icon-github.png" alt="Alec Robins Git Hub account" />
					</a>
				</li>

				<li>
					<a href="https://www.linkedin.com/in/alecrobins" target="_blank">
						<img src="Images/icon-linkedin.png" alt="Alec Robins LinkedIn account" />
					</a>
				</li>

<!-- 				<li>
		<img src="Images/icon-rss.png" alt="Alec Robins Blog" />
</li>
 -->
			</ul>
		</div>

	</div>

<!-- TODO: add a messaging section
 -->

<!--
	<div class="col-md-7" id="contactRight">

		<div id="form">

			<h1>Send me a messages</h1>

			<input type="text" id="subject" name="subject" ng-model="form.subject" value="Subject" placeholder="Subject . . ." />

			<div class="middleForm">
				<input type="name" name="subject" ng-model="form.name" value="Name" placeholder="Name . . ."/>
				<input type="email" name="subject" ng-model="form.email" value="Email" placeholder="Email . . ."/>
			</div>

			<input type="textarea" name="subject" ng-model="form.message" value="Subject" placeholder="Message . . ." />

			<button name="submit" ng-click="submitForm()">Send message</button>
			</div>

	</div> -->


</div>
