<div id="homeContainer" class="page1">
		<div id="homeMain">



				<div class="homeProfile" id="{{$root.aboutClicked}}">
						<img src="Images/profile.png" alt="Alec Robins Profile" />
						<div id="homeInfo">
							<p>
								Welcome! My name is Alec Robins and I am a junior at Vanderbilt University. I have a passion for web development, design, and entrepreneurship. I am a self-driven, analytical thinker with the ability to learn fast. I am looking forward to joining a team of creative engineers who are building the next great products.  						</div>
				</div>
				<center>
					<h1>Alec Robins</h1>
					<h2>Developer. Designer. Entreprenur.</h2>
					<h3>Computer Science @ Vanderbilt University</h3>
				</center>

		</div>

</div>
