<div id="homeContainer">
		<div id="homeMain">

				<div id="homeProfile">
						<img src="Images/profile.png" alt="Alec Robins Profile" />
						<div id="homeInfo">
							<p>
								I am a self driven, analytical thinker with a hobby for creativity. I have a passion for future technoloyg
								and design and their implication on businesses today. 
							</p>
						</div>
				</div>
				<center>
					<h1>Alec Robins</h1>
					<h2>Developer. Designer. Entreprenur.</h2>
					<h3>Computer Science @ Vanderbilt University</h3>
				</center>

		</div>

</div>
