<div id="homeContainer" class="page1">
		<div id="homeMain">



				<div class="homeProfile" id="{{$root.aboutClicked}}">
						<img src="Images/profile.png" alt="Alec Robins Profile" />
						<div id="homeInfo">
							<p>
							I am a full-stack web developer and senior studying Computer Science at Vanderbilt University. I am a self-driven, analytical, and creative thinker. I have a passion for future technology and design and their implication on businesses today. I'm looking forward to joining a team of innovative thinkers who are building the next great products.
							</p>
						</div>
				</div>
				<center>
					<h1>Alec Robins</h1>
					<h2>Developer. Designer. Entrepreneur.</h2>
					<h3>Computer Science @ Vanderbilt University</h3>
				</center>

		</div>

</div>
